/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #333333;
  background-color: #fafafa;
  -webkit-text-size-adjust: 100%; }
  @media screen and (max-width: 600px) {
    body {
      font-size: 18px; } }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 15px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Francois One", Helvetica, Arial, sans-serif;
  line-height: 1; }

/**
 * Links
 */
a {
  color: #333333;
  text-decoration: none; }

a:active, a:visited {
  outline: none; }

/**
 * Blockquotes
 */
blockquote {
  color: #9a9a9a;
  border-left: 4px solid white;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/**
 * Clearfix
 */
.wrapper:after, .col-wrapper:after, .bg-container:after, .site-header:after {
  content: "";
  display: table;
  clear: both; }

.content-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.page-section {
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid #EEEEEE;
  padding: 30px;
  box-shadow: 0 1px 3px #000000;
  -webkit-box-shadow: 0 3px 3px #888888;
  transition: background-color 0.3s ease-in; }
  .page-section:hover {
    background-color: white; }

.col-wrapper {
  color: #9a9a9a; }

.col {
  float: left;
  padding-left: 15px; }

.col-50 {
  width: -webkit-calc(50% - (30px / 2));
  width: calc(50% - (30px / 2)); }
  @media screen and (max-width: 600px) {
    .col-50 {
      float: none;
      padding-left: 0;
      margin: 0;
      width: 100%; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #ffdddd; }
  .highlight .gd .x {
    color: #000;
    background-color: #ffaaaa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #aa0000; }
  .highlight .gh {
    color: #999999; }
  .highlight .gi {
    color: #000;
    background-color: #ddffdd; }
  .highlight .gi .x {
    color: #000;
    background-color: #aaffaa; }
  .highlight .go {
    color: #888888; }
  .highlight .gp {
    color: #555555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaaaaa; }
  .highlight .gt {
    color: #aa0000; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #009999; }
  .highlight .s {
    color: #dd1144; }
  .highlight .na {
    color: teal; }
  .highlight .nb {
    color: #0086b3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: teal; }
  .highlight .ni {
    color: purple; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555555; }
  .highlight .nt {
    color: navy; }
  .highlight .nv {
    color: teal; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf {
    color: #009999; }
  .highlight .mh {
    color: #009999; }
  .highlight .mi {
    color: #009999; }
  .highlight .mo {
    color: #009999; }
  .highlight .sb {
    color: #dd1144; }
  .highlight .sc {
    color: #dd1144; }
  .highlight .sd {
    color: #dd1144; }
  .highlight .s2 {
    color: #dd1144; }
  .highlight .se {
    color: #dd1144; }
  .highlight .sh {
    color: #dd1144; }
  .highlight .si {
    color: #dd1144; }
  .highlight .sx {
    color: #dd1144; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #dd1144; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999999; }
  .highlight .vc {
    color: teal; }
  .highlight .vg {
    color: teal; }
  .highlight .vi {
    color: teal; }
  .highlight .il {
    color: #009999; }

/* ---------------------
   Light Blue Theme
   --------------------- */
body.thm-light-blue-theme .bg-block.color0 {
  background-color: #8BACBD; }
body.thm-light-blue-theme .bg-block.color1 {
  background-color: #d0d0d0; }
body.thm-light-blue-theme .bg-block.color2 {
  background-color: #FDF3E7; }
body.thm-light-blue-theme .bg-block.color3 {
  background-color: #e0e0e0; }
body.thm-light-blue-theme .bg-block.color4 {
  background-color: #fbe7cf; }
body.thm-light-blue-theme h1, body.thm-light-blue-theme h2, body.thm-light-blue-theme h3, body.thm-light-blue-theme a {
  color: #527b90; }
body.thm-light-blue-theme a:hover {
  color: #333333; }

/* ---------------------
   Green Brown Theme
   --------------------- */
body.thm-green-brown-theme .bg-block.color0 {
  background-color: #FFEFD3; }
body.thm-green-brown-theme .bg-block.color1 {
  background-color: #FFFEE4; }
body.thm-green-brown-theme .bg-block.color2 {
  background-color: #D0ECEA; }
body.thm-green-brown-theme .bg-block.color3 {
  background-color: #9FD6D2; }
body.thm-green-brown-theme .bg-block.color4 {
  background-color: #c3b8a6; }
body.thm-green-brown-theme h1, body.thm-green-brown-theme h2, body.thm-green-brown-theme h3, body.thm-green-brown-theme a {
  color: #2b6560; }
body.thm-green-brown-theme a:hover {
  color: #333333; }

/* ---------------------
   Pinky Theme
   --------------------- */
body.thm-pink-brown-theme .bg-block.color0 {
  background-color: #DCF7F3; }
body.thm-pink-brown-theme .bg-block.color1 {
  background-color: #FFFCDD; }
body.thm-pink-brown-theme .bg-block.color2 {
  background-color: #FFD8D8; }
body.thm-pink-brown-theme .bg-block.color3 {
  background-color: #F5A2A2; }
body.thm-pink-brown-theme .bg-block.color4 {
  background-color: #bf9881; }
body.thm-pink-brown-theme h1, body.thm-pink-brown-theme h2, body.thm-pink-brown-theme h3, body.thm-pink-brown-theme a {
  color: #a01111; }
body.thm-pink-brown-theme a:hover {
  color: #333333; }

/* ---------------------
   Blue Green Theme
   --------------------- */
body.thm-blue-green-theme .bg-block.color0 {
  background-color: #ADDDCF; }
body.thm-blue-green-theme .bg-block.color1 {
  background-color: #CACCB6; }
body.thm-blue-green-theme .bg-block.color2 {
  background-color: #F2F0DF; }
body.thm-blue-green-theme .bg-block.color3 {
  background-color: #A9C1D9; }
body.thm-blue-green-theme .bg-block.color4 {
  background-color: #ABE1FD; }
body.thm-blue-green-theme h1, body.thm-blue-green-theme h2, body.thm-blue-green-theme h3, body.thm-blue-green-theme a {
  color: #5181b2; }
body.thm-blue-green-theme a:hover {
  color: #333333; }

.bg-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fafafa; }

.bg-block {
  width: 4.6%;
  height: 4.6%;
  box-sizing: border-box;
  margin: 0.2%;
  float: left; }
  .bg-block:hover {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* ---------------------
   Appearance animations
   --------------------- */
/* --- FadeIn --- */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.thm-fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

/* --- Flash --- */
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }
.thm-flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

/* --- ZoomIn --- */
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  50% {
    opacity: 1; } }
.thm-zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

/* --- ZoomIn --- */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
/* --- FadeOut --- */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
.thm-fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

/* ---------------------
   Animations delay
   --------------------- */
.thm-delay1 {
  -webkit-animation-delay: 0.25s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.25s; }

.thm-delay2 {
  -webkit-animation-delay: 0.33333s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.33333s; }

.thm-delay3 {
  -webkit-animation-delay: 0.5s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.5s; }

.thm-delay4 {
  -webkit-animation-delay: 1s;
  /* Chrome, Safari, Opera */
  animation-delay: 1s; }

/**
 * Site header
 */
.site-header {
  text-align: center; }

.site-title {
  font-size: 26px;
  margin-bottom: 0;
  font-weight: bold;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

.site-slogan {
  color: #5a5a5a;
  font-size: 15px;
  margin-bottom: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

.site-nav {
  padding-top: 10px; }
  .site-nav .nav-link {
    color: #5a5a5a;
    font-weight: bold; }
    .site-nav .nav-link:not(:first-child) {
      margin-left: 20px; }
    .site-nav .nav-link:hover {
      text-decoration: underline; }
  @media screen and (max-width: 600px) {
    .site-nav {
      padding-top: 0;
      text-align: center; } }

/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li:not(:last-child) {
    margin-bottom: 30px; }

.post-link {
  display: block;
  font-size: 40px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  line-height: 1;
  font-size: 40px; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-meta {
  font-size: 15px;
  color: #9a9a9a;
  margin-bottom: 0; }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }

/**
 * Site footer
 */
.site-footer {
  padding: 30px 0;
  text-align: center; }

.social-media-list {
  list-style: none;
  margin-left: 0; }
  .social-media-list li {
    display: inline; }
    .social-media-list li:not(:first-child) {
      margin-left: 15px; }

/**
 * Icons
 */
.social-icon > svg {
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  background-color: #9a9a9a;
  transition: background-color .3s;
  border: 1px solid; }
  .social-icon > svg:hover {
    background-color: #5a5a5a; }

.footer-heading {
  margin-bottom: 15px; }

.footer-bottom-info {
  font-size: 15px; }
