{% javascript themeSwitcher %}
<script>
    $(document).ready(function() {
        var options = {};
        options.themes = ['{{ site.themes | join:"','" }}'];
        options.appearAnimations = ['{{ site.appearAnimations | join:"','" }}'];
        options.appearDelayStyle = ['{{ site.appearDelayStyle | join:"','" }}'];

        var $ts = $('#themeSwitcher');
        $ts.themeSwitcher(options);

        // check if the user has preferred theme, otherwise choose random theme
        var preferredTheme = $ts.data('themeSwitcher').getSavedTheme();

        if (preferredTheme) {
            $ts.data('themeSwitcher').setTheme(preferredTheme);
        } else {
            $ts.data('themeSwitcher').setRandomTheme();
            $ts.data('themeSwitcher').showInfoMessage();
        }
    });
</script>
