.content-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.page-section {
  background-color: rgba(255,255,255, 0.8);
  border: 10px solid #EEEEEE;
  padding: $spacing-unit;
  box-shadow: 0 1px 3px #000000;
  -webkit-box-shadow: 0 3px 3px #888888;
  transition: background-color 0.3s ease-in;
  &:hover {
    background-color: rgba(255,255,255,1);
  }
}

.col-wrapper {
  color: $grey-color;
  @extend %clearfix;
}

.col {
  float: left;
  padding-left: $spacing-unit / 2;
}

.col-50 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));

  @include media-query($on-palm) {
    float: none;
    padding-left: 0;
    margin: 0;
    width: 100%;
  }
}