/* ---------------------
   Light Blue Theme
   --------------------- */
.thm-light-blue {
  &, .bg-block {
    @include setThemeColors(
            #acc3cf,
            #d0d0d0,
            #e0e0e0,
            #FDF3E7,
            #fbe7cf
    );
  }

  h1, h2, h3, a { color: #527b90; }
  .switch-btn.selected {
    border-bottom: 2px solid #527b90;
  }
  a:hover { color: $text-color; }
}

/* ---------------------
   Green Brown Theme
   --------------------- */
.thm-green-brown {
  @include setThemeColors(
          #cec5b7,
          #fef1db,
          #fefde8,
          #d8eeed,
          #b1ddda
  );

  h1, h2, h3, a { color: #2b6560; }
  .switch-btn.selected {
    border-bottom: 2px solid #2b6560;
  }
  a:hover { color: $text-color; text-decoration: underline;}
}

/* ---------------------
   Brown Orange Theme
   --------------------- */
.thm-red-orange {
  @include setThemeColors(
          #e8d4d3,
          #f5cfd0,
          #ece6e2,
          #fdd6ad,
          #f7c6b2
  );

  h1, h2, h3, a { color: #b53f0f; }
  .switch-btn.selected {
    border-bottom: 2px solid #b53f0f;
  }
  a:hover { color: $text-color; text-decoration: underline;}
}

/* ---------------------
   Blue Green Light Theme
   --------------------- */
.thm-blue-green-light {
  @include setThemeColors(
          #bce3d7,
          #d3d5c3,
          #f3f2e4,
          #bbe6fc,
          #b9ccdf
  );

  h1, h2, h3, a { color: #4774a2; }
  .switch-btn.selected {
    border-bottom: 2px solid #4774a2;
  }
  a:hover { color: $text-color; text-decoration: underline;}
}

/* ---------------------
   Red Brown Theme
   --------------------- */
.thm-red-brown {
  @include setThemeColors(
          #b8aba7,
          #dfd5c9,
          #fcf6ee,
          #e3dbd0,
          #dba2a6
  );

  h1, h2, h3, a { color: #782c31; }
  .switch-btn.selected {
    border-bottom: 2px solid #782c31;
  }
  a:hover { color: $text-color; text-decoration: underline;}
}

/* ---------------------
   Blue Green Dark Theme
   --------------------- */
.thm-blue-green-dark {
  @include setThemeColors(
          #a3b09a,
          #d3d5c3,
          #f3f2e4,
          #b9ccdf,
          #7f92a5
  );

  h1, h2, h3, a { color: #5b6951; }
  .switch-btn.selected {
    border-bottom: 2px solid #5b6951;
  }
  a:hover { color: $text-color; text-decoration: underline;}
}