/* ---------------------
   Light Blue Theme
   --------------------- */
.thm-light-blue {
  &, .bg-block {
    @include setThemeColors(
            lighten(#8BACBD, 10%),
            #d0d0d0,
            #FDF3E7,
            #e0e0e0,
            darken(#FDF3E7, 5%)
    );
  }

  h1, h2, h3, a { color: darken(#8BACBD, 20%); }
  a:hover { color: $text-color; }
  .switch-btn.selected {
    border-bottom: 2px solid darken(#8BACBD, 20%);
  }
}

/* ---------------------
   Green Brown Theme
   --------------------- */
.thm-green-brown {
  @include setThemeColors(
          #FFEFD3,
          #FFFEE4,
          #D0ECEA,
          #9FD6D2,
          lighten(#8B7A5E, 25%)
  );

  .bg-container {
    opacity: 0.8;
  }
  h1, h2, h3, a { color: darken(#9FD6D2, 45%); }
  a:hover { color: $text-color; }
  .switch-btn.selected {
    border-bottom: 2px solid darken(#9FD6D2, 45%);
  }
}

/* ---------------------
   Brown Orange Theme
   --------------------- */
.thm-red-orange {
  @include setThemeColors(
          lighten(#6F5846, 50%),
          lighten(#A95A52, 30%),
          lighten(#E35B5D, 20%),
          lighten(#F18052, 10%),
          lighten(#FFA446, 10%)
  );

  .bg-container {
    opacity: 0.6;
  }
  h1, h2, h3, a { color: darken(#F18052, 25%); }
  a:hover { color: $text-color; }
  .switch-btn.selected {
    border-bottom: 2px solid darken(#F18052, 25%);
  }
}

/* ---------------------
   Blue Green Light Theme
   --------------------- */
.thm-blue-green-light {
  @include setThemeColors(
          #ADDDCF,
          #CACCB6,
          #F2F0DF,
          #A9C1D9,
          #ABE1FD
  );

  .bg-container {
    opacity: 0.8;
  }
  h1, h2, h3, a { color: darken(#A9C1D9, 30%); }
  a:hover { color: $text-color; }
  .switch-btn.selected {
    border-bottom: 2px solid darken(#A9C1D9, 30%);
  }
}

/* ---------------------
   Red Brown Theme
   --------------------- */
.thm-red-brown {
  @include setThemeColors(
          #785D56,
          #BE4C54,
          #C6B299,
          #E6D5C1,
          #FFF4E3
  );

  .bg-container {
    opacity: 0.5;
  }
  h1, h2, h3, a { color: darken(#BE4C54, 20%); }
  a:hover { color: $text-color; }
  .switch-btn.selected {
    border-bottom: 2px solid darken(#BE4C54, 20%);
  }
}

/* ---------------------
   Blue Green Dark Theme
   --------------------- */
.thm-blue-green-dark {
  @include setThemeColors(
          #8E9E82,
          #CACCB6,
          #F2F0DF,
          #A9C1D9,
          #607890
  );

  .bg-container {
    opacity: 0.8;
  }

  h1, h2, h3, a { color: darken(#8E9E82, 20%); }
  a:hover { color: $text-color; }
  .switch-btn.selected {
    border-bottom: 2px solid darken(#8E9E82, 20%);
  }
}