@charset "utf-8";

$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$headers-font-family: 'Francois One', Helvetica, Arial, sans-serif;
$base-font-size: 20px;
$small-font-size: $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #333333;
$background-color: #fafafa;

$grey-color: #9a9a9a;
$grey-color-light: lighten($grey-color, 20%);
$grey-color-dark: darken($grey-color, 25%);

// Background related variables
$bg-segment-width: 4.8%;
$bg-segment-height: 4.8%;
$bg-spacing-unit: 0.1%;
$bg-animation-delay: 0.5s;
$bg-animation-delay-onload: 2s;
$bg-animation-duration: 1s;

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin setThemeColors($color0, $color1, $color2, $color3, $color4) {
  >.color0 { background-color: $color0; }
  >.color1 { background-color: $color1; }
  >.color2 { background-color: $color2; }
  >.color3 { background-color: $color3; }
  >.color4 { background-color: $color4; }

  .bg-block {
    &.color0 { background-color: $color0; }
    &.color1 { background-color: $color1; }
    &.color2 { background-color: $color2; }
    &.color3 { background-color: $color3; }
    &.color4 { background-color: $color4; }
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "_sass/_base",
  "_sass/_layout",
  "_sass/_syntax-highlighting",
  "_sass/_themes",
  "_sass/sections/_background",
  "_sass/sections/_header",
  "_sass/sections/_content",
  "_sass/sections/_footer"
;
