<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ site.defaults.theme }}" data-theme="{{ site.defaults.theme }}">

    {% include site_background.html %}

    <div class="wrapper content-container">
        <div id="themeSwitcher">
            {% for thmName in site.themes %}
                <button class="jsThemeTrigger" data-theme="{{ thmName }}">{{ thmName }}</button>
            {% endfor %}
        </div>
        {% include header.html %}

        <div class="page-content">
            {{ content }}
        </div>

        {% include footer.html %}

    </div>

    {% include footer_scripts.html %}

  </body>
</html>
