.bg-container {
  @extend %clearfix;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $background-color;
}

.bg-block {
  width: $bg-segment-width;
  height: $bg-segment-height;
  box-sizing: border-box;
  margin: $bg-spacing-unit;
  float: left;
  &:hover {
    @include prefix('animation-name', 'fadeOut');
    @include prefix('animation-duration', '0.15s');
  }
}

.animated {
  @include prefix('animation-duration', $bg-animation-duration);
  @include prefix('animation-fill-mode', 'both');
}

/* ---------------------
   Appearance animations
   --------------------- */

/* --- FadeIn --- */
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }

  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }

  100% { opacity: 1; }
}

.thm-fadeIn {
  @include prefix('animation-name', 'fadeIn');
}

/* --- ZoomIn --- */
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    @include prefix('transform', 'scale3d(.3, .3, .3)');
  }

  50% { opacity: 1; }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    @include prefix('transform', 'scale3d(.3, .3, .3)');
  }

  50% { opacity: 1; }
}

.thm-zoomIn {
  @include prefix('animation-name', 'zoomIn');
}

/* --- FadeOut --- */
@-webkit-keyframes fadeOut {
  0% { opacity: 1; }

  100% { opacity: 0; }
}

@keyframes fadeOut {
  0% { opacity: 1; }

  100% { opacity: 0; }
}

.thm-fadeOut {
  @include prefix('animation-name', 'fadeOut');
}

/* ---------------------
   Animations delay
   --------------------- */
.thm-delay0 {
  @include prefix('animation-delay', $bg-animation-delay / 4);
}

.thm-delay1 {
  @include prefix('animation-delay', $bg-animation-delay / 3);
}

.thm-delay2 {
  @include prefix('animation-delay', $bg-animation-delay / 2);
}

.thm-delay3 {
  @include prefix('animation-delay', $bg-animation-delay);
}

.thm-onload-delay0, .thm-onload-delay1, .thm-onload-delay2, .thm-onload-delay3 {
  @include prefix('animation-delay', $bg-animation-delay-onload);
}