.bg-container {
  @extend %clearfix;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $background-color;
}

.bg-block {
  width: 4.6%;
  height: 4.6%;
  box-sizing: border-box;
  margin: $bg-spacing-unit;
  float: left;
  &:hover {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
  }
}

.animated {
  -webkit-animation-duration: $bg-animation-duration;
  animation-duration: $bg-animation-duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* ---------------------
   Appearance animations
   --------------------- */

/* --- FadeIn --- */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.thm-fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* --- Flash --- */
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.thm-flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* --- ZoomIn --- */
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.thm-zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

/* --- ZoomIn --- */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* --- FadeOut --- */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.thm-fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* ---------------------
   Animations delay
   --------------------- */
.thm-delay1 {
  -webkit-animation-delay: $bg-animation-delay / 4; /* Chrome, Safari, Opera */
  animation-delay: $bg-animation-delay / 4;
}

.thm-delay2 {
  -webkit-animation-delay: $bg-animation-delay / 3; /* Chrome, Safari, Opera */
  animation-delay: $bg-animation-delay / 3;
}

.thm-delay3 {
  -webkit-animation-delay: $bg-animation-delay / 2; /* Chrome, Safari, Opera */
  animation-delay: $bg-animation-delay / 2;
}

.thm-delay4 {
  -webkit-animation-delay: $bg-animation-delay; /* Chrome, Safari, Opera */
  animation-delay: $bg-animation-delay;
}
