/**
 * Site header
 */
.site-header {
  padding-top: $spacing-unit / 2;
  padding-bottom: 0;
  @extend %clearfix;
}

.site-title {
  font-size: 26px;
  margin-bottom: 0;
  font-weight: bold;
  font-family: $base-font-family;

  @include media-query($on-palm) {
    text-align: center;
  }
}

.site-slogan {
  color: $grey-color-dark;
  font-size: $small-font-size;
  margin-bottom: 0;
  font-family: $base-font-family;

  @include media-query($on-palm) {
    text-align: center;
  }
}

.site-nav {
  padding: 10px 0 0 10px;
  text-align: right;
  .nav-link {
    color: $grey-color-dark;
    font-weight: bold;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  @include media-query($on-palm) {
    padding-top: 0;
    text-align: center;
  }
}

.theme-switcher {
  margin: ($spacing-unit / 2) 0;

  .switch-btn {
    @extend %clearfix;
    height: 20px;
    position:relative;
    box-shadow: 1px 1px 1px #bbb;

    &:hover:not(.selected) {
      box-shadow: 1px 1px 5px #bbb;
    }
  }

  .thm-color {
    width: 20%;
    height: 100%;
    float: left;
  }
}