/**
 * Site header
 */
.site-header {
  text-align: center;
  @extend %clearfix;
}

.site-title {
  font-size: 26px;
  margin-bottom: 0;
  font-weight: bold;
  font-family: $base-font-family;
}

.site-slogan {
  color: $grey-color-dark;
  font-size: $small-font-size;
  margin-bottom: 0;
  font-family: $base-font-family;
}

.site-nav {
  padding-top: 10px;
  .nav-link {
    color: $grey-color-dark;
    font-weight: bold;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  @include media-query($on-palm) {
    padding-top: 0;
    text-align: center;
  }
}
